@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Barlow:wght@300&family=Maven+Pro&family=Monda:wght@700&family=Poppins:wght@300&display=swap');* {
    margin: 0 0 0 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* background-color: #303030; */
}

body {
    font-size: 1vw;
    overflow-y:inherit;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* background-color: #303030; */
}

.social {
    /* background-color: aqua; */
    width: 50px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 30vh;
}

.handle {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.social div:nth-child(1) {
    background-color: #2867B2;
    
}

.social div:nth-child(2) {
    background-color: black;
}

.social ion-icon {
    font-size: 2rem;
    color: white;
}
.foot-back{
    width: 100vw;
    height: 10vh;
    /* background-color: black; */
    position: fixed;
    bottom: 0vh;
    left: 0px;
    z-index: -2;
    background-color: rgb(30, 28, 28);
}

nav {
    width: 100vw;
    background-color: #303030;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /* border-bottom: 1px solid white; */
}

.menu-list {
    width: fit-content;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #303030;
}

nav a {
    text-decoration: none;
    padding: 0 2rem 0 2rem;
    font-size: 1.5rem;
    color:rgb(183, 183, 183);
    font-family: 'Barlow', sans-serif;
}

nav a:hover {
    color: rgb(172, 209, 172);
}

.main {
    position: absolute;
    top: 0vh;
    /* left: 0vw; */
    width: 100%;
    height: 100vh;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0.8);
    height: 1px;
    bottom: 0;
    left: 0;
    z-index :14;
    background-color: gray;

}

.main h1 {
    color: #6bbd99;
    /* font-family: 'Monda', sans-serif; */
    font-family: 'Arima Madurai', cursive;

    font-size: 4.2rem;
    /* font-weight: 900; */
    
}

.main h1:hover {
    color: lightblue;
}

.info {
    color: gray;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-img {
    margin: vh 10vw 0 10vw;
    width: 250px;
}

body img {
    width: 100%;
    pointer-events: none;
}

.data {
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 60vh;
    border-bottom-left-radius: 3rem ;
    border-bottom-right-radius: 3rem ;
    box-shadow: 0rem 1.5rem 2rem gray;

}

.myaboutinfo{
    color: azure;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    line-height: 3rem;
    text-align: center;
    padding: 3rem 0 3rem 0;
}
.data h2 {
    color: white;
    font-size: 2.5rem;
    padding: 2rem;
    /* margin-top: 3rem; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main h3 {
    color: white;
    font-size: 2.1rem;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data1 {
    position: absolute;
    width: 100%;
    top: 160vh;
    height: 50vh;
    background-color: rgb(228, 228, 228);
    justify-content: flex-start;
    z-index: -1;
    padding: 2rem 0 2rem 0;
}
.data1 h3{
    color: black;
}

.data2 {
    position: absolute;
    width: 100%;
    top: 210vh;
    height: 40vh;
    background-color: #303030;
    padding: 1rem 0 2rem 0;
    justify-content: flex-start;
    border-top-left-radius: 3rem ;
    border-top-right-radius: 3rem ;
    box-shadow: 0rem -1.5rem 2rem gray;
    
    
}

.data3 {
    position: absolute;
    width: 100%;
    top: 250vh;
    height: 90vh;
    background-color: #303030;
    justify-content: flex-start;
}

.proj {
    display: flex;
    height: auto;
    width: 80%;
    justify-content: center;
    margin: 4rem;
    /* background-color: bisque; */
}

.proj img {
    border-radius: 5px;
}

.ltab {
    flex-basis: 50%;
    padding: 1rem;
    /* background-color: aquamarine; */
}

.rtab {
    flex-basis: 40%;
    padding: 1rem 1rem 1rem 3rem;
    /* background-color: blueviolet; */

}

.proj h4 {
    font-size: 2.2rem;
    color: aliceblue;
    font-family: 'Maven Pro', sans-serif;
}

.brief {
    color: gray;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.desc {
    padding-top: 1rem;
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.proj button {
    background-color: cadetblue;
    font-size: 1.3rem;
    font-family: 'Monda', sans-serif;
    border-radius: 0.5rem;
    margin-top: 3rem;
    border: none;
    padding: 0.3rem 1rem 0.3rem 1rem; 
    cursor: pointer;
}

.proj button:hover {
    box-shadow: 0.1rem 0.1rem 1rem white;
    /* position: relative; */
    transition: 0.2s ease-in-out;
}

.footer {
    position: absolute;
    width: 100%;
    top: 340vh;
    height: 45vh;
    background-color: rgb(30, 28, 28);
}

.footer h3 {
    color: white;
    font-family: 'Monda', sans-serif;
    font-size: 2.2rem;
}

.copy {
    color: white;
}

.contact {
    padding-bottom: 1rem;
}

.footer ion-icon {
    color: white;
    font-size: 2rem;
    margin: 0.1rem;
}

::-webkit-scrollbar {
    background-color: #303030;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(46, 43, 43);
}

.tileset {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 1rem;
    /* background-color: aqua; */
    flex-basis: 90%;
    align-items: center;


}

.tiles {
    flex-shrink: 4;
    width: 100px;
    height: 100px;
    /* height: 2rem; */
    /* background-color: blue; */
    /* border: 1px solid white; */
}

.tiles img {
    width: 100%;
    height: 100%;
}






/* animations */
.init{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}
.init.active{
    transform: translateY(0px);
    opacity: 1;
}
.linkactive{
    color: #1fc5a8 ;
}